---
layout: default
title: About
section_id: about
bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 95
  - title: Site management
    percent: 70
  - title: Branding
    percent: 61
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Who we are</h2>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-12 large-12 columns'>
      <p>
        <span class='drop-letters'>We</span>
        are an experienced team of engineers and product managers that are passionate about building the next generation eCommerce platform.  Together we have years of experience designing, developing, and leading large-scale, global commerce platforms.  Our professional backgrounds span many companies including Microsoft, Electronic Arts and Facebook.  We are building a fun, vibrant, transparent and get-stuff-done team.  Customer focus is the center of our ideology.  Interested in joining us?  Let us know.  We have development offices in South Lake Union, Seattle and in Shanghai.
      </p>
    </div>
  </div>
</div>



<div class='members'>
  <div class='full no-padding'>
	{% for member in site.data.members %}
	  {% assign mod = forloop.index0 | modulo:3 %}
      {% if mod == 0 %}
      <div class='row'>
	  {% endif %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        {% if forloop.index == 4 or forloop.index == 5 %}
        <div class='medium-6 large-6 columns'>
        {% else %}
        <div class='medium-4 large-4 columns'>
	    {% endif %}
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% if mod == 2 or forloop.last %}
      </div>
	  {% endif %}    
    {% endfor %}

    <div class='three spacing'></div>

  </div>
</div>